.footer {
  width: 100%;
  border-top: 1px solid #e5e7eb;
  color: var(--color-text);
  margin-top: 1rem;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 2rem;
  padding-bottom: 2rem;
}

.logoSection {
  grid-column: span 2;
  color: var(--color-primary);
  margin-top: -1rem;
}

.description {
  font-size: 0.875rem;
  color: var(--color-text);
  margin-bottom: 1rem;
  max-width: 300px;
  margin-top: 1rem;
}

.menu {
  min-width: 150px;
}

.menuTitle {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.menuList {
  list-style: none;
}

.menuList a {
  display: block;
  color: #6b7280;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  transition: color 0.2s ease;
}

.menuList a:hover {
  color: var(--color-primary);
}

.subscribe {
  max-width: 200px;
}

.subscribeButton {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: linear-gradient(to right, var(--color-primary), #8b5cf6);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 0.875rem;
  cursor: pointer;
}

.bottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding-top: 1.5rem;
  border-top: 1px solid #e5e7eb;
  font-size: 0.875rem;
  align-items: center;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  justify-self: end;
}

.icon {
  color: var(--color-primary); /* text-primary */
  width: 1.75rem; /* size-7 = 28px */
  height: 1.75rem;
  border-radius: 9999px; /* rounded-full */
  padding-top: 0.25rem; /* pt-1 = 4px */
  padding-bottom: 0.25rem; /* pb-1 = 4px */
  transition: color 300ms ease-out; /* duration-300 + ease-out */
}

.icon:hover {
  color: var(--color-secundary); /* Tailwind's blue-500 */
}
